Capslock is an experimental tool for static analysis of Go packages. Share feedback and file bugs at https://github.com/google/capslock.
To get machine-readable full analysis output, use -output=json

Analyzed packages:{{range $val := .ModuleInfo}}
{{$val.Path}} {{$val.Version}}{{end}}
{{if .CapabilityStats}}{{range $index, $p := .CapabilityStats}}
Capability: {{$p.Capability}}
{{$p.Count}} references ({{$p.DirectCount}} direct, {{$p.TransitiveCount}} transitive)
Example callpath:
    {{range $val := $p.ExampleCallpath}}{{$val.Name}}{{if $val.Site}}: {{$val.Site}}{{end}}
    {{end}}
{{end}}
{{else}}Capslock found no capabilities in this package.{{end}}
